{% load static %} 
<div class="vertical-nav bg-white" id="sidebar">
    <div class="py-4 px-3 mb-4 bg-lightBlue">

        <div class="media d-flex align-items-center"><img src="{% static 'imgs/CidVidLogo.png'%}" alt="..." width="150em" class="mr-3 img-thumbnail shadow-sm">
            <div class="media-body">
                {# <a class="nav-link text-dark" href="#"> #}
                    <h4 class="m-0"> SARS-COV-OBS-MX-03</h4>
                    <p class="font-weight-light text-muted mb-0">Cuestionario</p>
                {# </a> #}
            </div>

                {% if user.is_authenticated %} 
                    <a class="navbar-brand nav-link text-dark" href="/logout">Cerrar Sesion</a>
                {% else %}
                    <a class="navbar-brand nav-link text-dark" href="/login">Iniciar Sesion</a>
                {% endif %}
        </div>
            {% if user.is_authenticated %} 
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-1">
                        <a class="nav-item text-dark " href="{% url 'home'%}">Inicio</a>
                    </div>
                     <div class="col-sm-2">
                        <a id='nuevo' class="nav-item text-dark" href="{% url 'nuevo'%}">Nuevo Paciente</a>
                    </div>
                </div>
            {% endif %}
    </div>
</div>