{% extends 'base.html' %}

   {% block content %}
 
        <h1> Questionario</h1>
          <p1>Paciente {{id}}</p1>
        <form action="" method="post">
            {% csrf_token %}

            {{fcuestionario.as_p}}
            {{fembarazo.as_p}}
            {{fviajes.as_p}}
            {{fmorbilidad.as_p}}
            {{fhabitos.as_p}}
            {{fsintomas.as_p}}
            {{ftrataminto.as_p}}
            {{fanteceddentes.as_p}}
            {{fpruebas.as_p}}
            {% if messages %}
            {% for message in messages %}
                <p> message </p>
            {% endfor %}
            {% endif %}
        <input type="submit" value="Submit">
        </form>
 
   {% endblock %}